{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django with Authentik{% endblock %}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <nav>
        <div class="logo">
        <img src="{% static 'img/logo.png' %}" alt="Website Logo" width="80" height="auto">
        </div>
        <div class="menu">
            <a href="{% url 'home' %}">Home</a>
            
        </div>
       
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>&copy; 2025 My Django Website</p>
    </footer>

    <!-- JavaScript -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>